# Definition of dependencies (dep)
Gopkg.lock
Gopkg.toml

# Definition of dependencies (glide)
glide.lock
glide.yaml

# Installed dependencies
vendor/

# Copy of vendor/ directory made by glide when `dep init` was run again
_vendor-*/
